.home {
display: flex;
flex-wrap: wrap; 
 margin-left: 100px;
 flex-direction: column;

  
}
.product {
    height: 350px;
    width: 250px;
    background: var(--pure-white);
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
    padding: auto;
}

.foodImages {
  height: 230px;
  width: 200px;
  
  
}

.welcome{
  margin: 0px auto;
  text-align: center;
  font-family: fantasy;
  font-size: x-large;
  /* background-color: darkgreen; */
}

#extraInfo {
  display: block;
}




