.home {
display: flex;
flex-wrap: wrap;
margin-left: 100px;

  
}
.product {
    height: 350px;
    width: 250px;
    background: var(--pure-white);
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
    padding: auto;
}

.foodImages {
  height: 230px;
  width: 200px;
  
  
}

.title {
  text-align: center;
  /* background-color: darkgreen; */
}




