
.navbar{

    background: lightgreen ;


}


 .navbar .content .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-left: auto;
    flex: 1;
    max-width: 650px;
} 

.navbar .content .links a {
    color: black; /* Set the link color */
  text-decoration: none; /* Remove the underline */
  transition: color 0.3s ease;
}

#siteName {
    /* text-align: center; */
    font-family: cursive, sans-serif;
    margin-left: 120px;

}



